@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root{
    --orange:#FF7E1B;
    --light-orange:#FFEEE2;
    --light-blue: #F6F8FD;
    --gray:#69707D;
    --black:#1D2026;
    --light-gray:#B6BCC8;
    --bg-color:#F2F2F2;
    --bold: 700;
    --medium: 400;
}

html{
    font-size: 62.5%;
}

body{
    overflow-x: hidden;
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: 'Kumbh Sans', sans-serif;
    *{
        font-family: 'Kumbh Sans', sans-serif;
        box-sizing: border-box;
    }
    background-color: white;
}

button{
    font-size: 1.6rem;
    font-weight: var(--bold);
    border: none;
    background-color: var(--orange);
    color: white;
    box-sizing: border-box;
    min-width: 32.7rem;
    min-height: 5.6rem;
    border-radius: 1rem;
    box-shadow: 0px 20px 50px -20px #FF7E1B;
    width: 95%
}

header{
    display: inline-flex;
    width: 95%;
    min-height: 7em;
    justify-content: space-between;
    align-items: center;
    .menu-btn{
        padding-right:  1rem;
    }
    .user{
        display: inline-flex;
        align-items: center;
        justify-content: space-between;
        min-width: 6.5rem;
        .profile-pic{
            width: 2.4rem;
            height: 2.4rem;
        }
        .cart-icon-div{
            position: relative;
        }
        .items-in-cart{
            background-color: var(--orange);
            color: white;
            width: 1.9rem;
            height: 1.3rem;
            position: absolute;
            left: 1rem;
            top: -0.4rem;
            border-radius: 0.6rem;
            text-align: center;
            line-height: 1.3rem;
            vertical-align: middle;
            font-size: 1.2rem;
            font-weight: var(--bold);
            display: none;
        }
       
    }
}



.wrapper{
    min-width: 32.7rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slider-container{
    position: relative;
    width: 100vw;
    display: flex;
    flex-direction: column;
    .slider{
        display: flex;
        max-height: 30rem;
        *{
            width: 100%;
            object-fit: cover;
        }
    }
    .arrow-left, .arrow-right{  
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
    .arrow-right{
        left: 85%;
    }
    .arrow-left{
        right: 85%;
    }
    
}

.arrow-left, .arrow-right{
    width: 4rem;
    height: 4rem;
    box-sizing: border-box;
    background-color: white;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
}

.arrow-left{
    background-image: url("../images/icon-previous.svg");
}
.arrow-right{
    background-image: url("../images/icon-next.svg");
}


main{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
}

.buttons-container{
    min-width: 32.7rem;
    width: 95%;
    height: 12.8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    .number-counter-container{
        width: inherit;
        display: inline-flex;
        height: 5.6rem;
        align-items: center;
        justify-content: space-between;
        background-color: var(--light-blue);
        font-weight: var(--bold);
        padding: 2.3rem;
        font-size: 1.6rem;
        color: var(--orange);
        border-radius: 0.6rem;
        .num-items{
            color: var(--black);
        }
        .plus,.minus{
            padding: 2rem;
        }
    }
}

.product-info-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width:32.7rem;
    width: 95%;
    h2{
        align-self: flex-start;
        font-size: 2.8rem;
    }
    h3{
        font-size: 2.8rem;
    }
    p{
        font-size: 1.5rem;
        color: var(--gray);
        line-height: 2.6rem;
    }
    .company{
        color: var(--orange);
        font-size: 1.2rem;
        font-weight: var(--bold);
        align-self: flex-start;
    }
}

.price-container{
    width: 100%;
    font-weight: var(--bold);
    font-size: 1.6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .active-price{
        display: inline-flex;
        align-items: center;
        justify-content: space-between;
        width: 17.3rem;
        span{
            box-sizing: border-box;
            width: 5.1rem;
            padding: 0.4rem 0.8rem;
            height: 2.8rem;
            color: var(--orange);
            background-color: var(--light-orange);
            border-radius: 0.6rem;
            text-align: center;
        }
    }
    .inactive-price{
        text-decoration: line-through;
        color: var(--light-gray);
    }
}

.desktop{
    display: none;
}

.pop-up-menu{
    display: none;
    position: fixed;
    height: 100%;
    width: 70%;
    top:0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    background-color: white;
    nav{
        display: flex;
        flex-direction: column;
        font-size: 1.8rem;
        font-weight: var(--bold);
        *{
            padding: 2.5rem;
        }
    }
    img{
        padding: 2.5rem;
    }
}

.cart{
    box-sizing: border-box;
    position: absolute;
    z-index: 1;
    width: 36rem;
    height: 25.6rem;
    box-shadow: 0px 20px 50px -20px rgba(29, 32, 38, 0.503143);
    border-radius: 1rem;
    background-color: white;
    flex-direction: column;
    padding: 2.4rem 2.4rem 3.6rem;
    // display: flex;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    display: none;
    .cart-content{
        display: inline-flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        &>img{
            width: 5rem;
            height: 5rem;
            border-radius: 0.4rem;
            margin-right: 1.6rem;
        }
        &>div{
            display: inline-flex;
            width: 95%;
            align-items: center;
            justify-content: space-between;
            >div{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                height: 5.2rem;
                *{
                    margin: 0;
                }
            }
        }
        p{
            color: var(--gray);
            font-weight: var(--medium);
        }
    }
    &>div{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        height: 18.8rem;
        width: 31.2rem;
    }
    button{
        min-width: 31.2rem;
    }
    h4,p{
        font-size: 1.6rem;
    }
    .final-price{
        font-weight: var(--bold);
        color:var(--black);
    }
}

.empty-cart{
    display: none;
}


@media screen and (min-width:1000px) {
    .mobile{
        display: none;
    }
    .desktop{
        display: flex;
        // display: block;
    }
    header,main{
        width: 80%;
    }
    main{
        margin-top: 10rem;
        margin-bottom: 10rem;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    header{
        margin-top: 3rem;
        >:first-child{
            display: flex;
            align-items: center;
        }
        nav{
            margin-left: 5rem;
            display: inline-flex;
            justify-content: space-between;
            align-items: center;
            min-width: 40rem;
            color: var(--gray);
            a{
                font-size: 1.5rem;
            }
        }
        .user{
            min-width: 14rem;
            .profile-pic{
                width: 5rem;
                height: 5rem;
            }
        }
    }

    .img-container{
        width: 40%;
        min-height: 56rem;
        max-width: 100rem;
        .small-imgs{
            width: 100%;
            justify-content: space-between;
            display: inline-flex;
            margin-top: 2rem;
            img{
                width: 22%;
                border-radius: 1rem;
            }
        }
        .main-img{
            max-width: 100%;
            img{
                max-width: 100%;
                border-radius: 1.5rem;
            }
        }
    }
    
    .product-info-container{
        width: 50%;
        max-width: 60rem;
        h2{
            font-size: 4.4rem;
        }
        p{
            font-size: 1.6rem;
        }
        .company{
            font-size: 1.3rem;
        }
    }

    .price-container{
        flex-direction: column;
        align-items: flex-start;
    }
    .buttons-container{
        flex-direction: row;
        .number-counter-container{
            width: 35%;
        }
        .add-to-cart{
            width: 60%;
        }
    }
}